body{
    background:url(img/22.jpg)
}
p{
    text-align: center;
    width: 70%;
}
h1{
    font-family:sans-serif ;
margin: 1.5em ;
font-size: 32px;
}
h2{
    font-family: sans-serif;
    margin: 1.5em ;
}
h3{
    font-family: sans-serif;
    margin: 1.5em ;
}
h4{
    font-family: sans-serif;
    margin: 1.5em ;
}
table{
    width: auto;
    border:1px double black;
    border-collapse:collapse;
}
th{
    text-align: left;
    padding: 1px;
    border: 1px solid black;
    background: #cccccc;
}
td{
    padding: 1px;
    border: double black;
}
figure{
    float:right;
    width:30% ;
text-decoration: underline;
}